<article class="listing">
  <img src="{{contact.image}}" alt="">
  <h3>{{contact.fn}} {{contact.ln}}</h3>
  <div class="detail phone">
    <span>Phone:</span> {{contact.p}}
  </div>
  <div class="detail email">
    <span>Email:</span> {{contact.email}}
  </div>
</article>